{% extends 'backboard/base.html' %} {% block content %}
<div class="main">
  <div class="card-body bg-light">
    <div class="row">
      <div class="col"></div>
      <div class="col-lg-6 col-sm-8">
        <div class="my-3 text-center">
          <h4>派車查詢</h4>
        </div> 

        <form method="get">

          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="datePicker">日期區間：</label>
            <div class="col-sm-10">
              <p>(目前區間 {{qDate}})</p>
              <input class="form-control datetimepicker" 
                    id="datePicker" 
                    type="text" 
                    name="qDate" 
                    placeholder="年-月-日 ～ 年-月-日" 
                    data-options='{"mode":"range","dateFormat":"Y-m-d","disableMobile":true}' 
                    />
              {% comment %} <br>
              <input class="form-control datetimepicker" id="timepicker2" type="text" 
              placeholder="d/m/y to d/m/y" value='02/03/2012 to 03/04/2012' 
              data-options='{"mode":"range","dateFormat":"d/m/y","disableMobile":true}' /> {% endcomment %}
            </div>
          </div>
          
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="assigned_car_team">派單車隊：</label>
            <div class="col-sm-10"> 
              <select class="form-select js-choice" id="assigned_car_team" size="1" name="assigned_car_team" data-options='{"removeItemButton":true,"placeholder":true}' >
                <option value="">選擇派單車隊</option>
                {% for carTeam in carTeams %}
                  {% if assigned_car_team == carTeam.name %}
                    <option value="{{carTeam.name}}" selected>{{carTeam.name}}</option>
                 {% else %}
                    <option value="{{carTeam.name}}">{{carTeam.name}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="belonged_car_team">司機車隊：</label>
            <div class="col-sm-10"> 
              <select class="form-select js-choice" id="belonged_car_team" size="1" name="belonged_car_team" data-options='{"removeItemButton":true,"placeholder":true}'>
                <option value="">選擇司機車隊</option>
                {% for carTeam in carTeams %}
                  {% if belonged_car_team == carTeam.name %}
                    <option value="{{carTeam.name}}" selected>{{carTeam.name}}</option>
                  {% else %}
                    <option value="{{carTeam.name}}">{{carTeam.name}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
  
          <div class="mb-1 mx-5">
            <button
              class="btn btn-primary d-block w-100 mt-3 text-light"
              onclick="location.href='{% url 'dispatch_inquire' %}'"
            >
              <b>查詢</b>
            </button>
          </div>
        </form>
        
       
        <div class="my-3">統計扣帳金額：{{ total_dispatch_fee.dispatch_fee__sum }}</div>
        

        <div class="my-5">
          <div class="table-responsive scrollbar">
            <table class="table table-hover table-striped overflow-hidden">
              <thead>
                <tr class="table-head-custom">
                  <th scope="col">派車時間</th>
                  <th scope="col">乘客</th>
                  <th scope="col">承接</th>
                  <th scope="col">小計</th>
                </tr>
              </thead>

              <tbody>
                {% for case in cases %}
                <tr class="align-middle">
                  <td class="text-nowrap">
                    {{ case.create_time|date:'Y-m-d' }}<br/>
                    派單車隊：{{ case.carTeam.name }}<br/>
                    接單司機：{{ case.user }} ( {{ case.user.car_teams_string}} )<br />
                    訂單狀態：
                    {% if case.case_state == "canceled" %}
                      取消
                    {% elif case.case_state == "finished" %}
                      完成
                    {% elif case.case_state == "wait" %}
                      未承接
                      <form method="post">{% csrf_token %}
                          <input type="hidden" id="cancel_case_id" name="cancel_case_id" value={{case.id}}>
                          <button class="btn btn-danger d-block w-100 mt-3 text-light"
                            type="submit"
                            name="submit"
                            value="ok"
                            onclick="location.href='{% url 'dispatch_inquire' %}'"
                          >
                            <b>取消訂單</b>
                      </form>
                    {% else %}
                      任務中
                      <form method="post">{% csrf_token %}
                          <input type="hidden" id="cancel_case_id" name="cancel_case_id" value={{case.id}}>
                          <button class="btn btn-danger d-block w-100 mt-3 text-light"
                            type="submit"
                            name="submit"
                            value="ok"
                            onclick="location.href='{% url 'dispatch_inquire' %}'"
                          >
                            <b>取消訂單</b>
                      </form>
                    {% endif %}
                  </td>
                  <td class="text-nowrap">
                    {{ case.customer_name }}<br />
                    {{ case.customer_phone }}<br />
                    上：{{ case.on_address }}<br />
                    下：{{ case.off_address }}
                  </td>
                  <td class="text-nowrap">
                    前往：{{ case.confirm_time }}<br />
                    到達：{{ case.arrived_time }}<br />
                    載客：{{ case.catched_time }}<br />
                    下車：{{ case.off_time }}<br />
                    任務取消：{{ case.memo }}
                  </td>
                  <td class="text-nowrap">
                    車資：{{ case.case_money }} <br/>
                    扣帳：{{ case.dispatch_fee }} <br/>
                    {% comment %} 分潤：業主A 10 業主B 10<br /> {% endcomment %}
                    車號：{{ case.user.vehicalLicence}}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              
            </table>
          </div>
        </div>

        <div class="text-center">
          {% for page_number in cases.adjusted_elided_pages %} 
            {% if page_number == current_page %} 
              {{page_number}} 
            {% else %}
              <a href="?page={{page_number}}&qDate={{qDate}}&assigned_car_team={{assigned_car_team}}&belonged_car_team={{belonged_car_team}}" class="{% if page_number == cases.number %}current{% endif %}">&nbsp;&nbsp;{{page_number}}&nbsp;&nbsp;</a>
            {% endif %} 
          {% endfor %}
        </div> 

      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

{% endblock %}
