{% extends 'backboard/base.html' %} {% block content %}
{% load static %}
<div class="main card-body bg-light">
  
  <div class="row mx-auto">
    <div class="col-8 mx-auto">
      <div class="my-3 text-center">
        <h4>派車管理</h4>
        <div class="row">
          <div class= "col-6 col-md-3 mt-2">
            線上總數
            <div id="onlineTotalDrivers" class="statusBox mx-auto">{{online_drivers.count}}</div>
          </div>
          <div class= "col-6 col-md-3 mt-2">
            執行任務
            <div id="onlineOnTask" class="statusBox mx-auto">{{on_task_drivers.count}}</div>
          </div>
          <div class= "col-6 col-md-3 mt-2">
            接單前往
            <div id="onlineOnTheWay" class="statusBox mx-auto">{{on_the_way_drivers.count}}</div>
          </div>
          <div class= "col-6 col-md-3 mt-2">
            閒置等待
            <div id="onlineWaiting" class="statusBox mx-auto">{{pending_drivers.count}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} google map {% endcomment %}
  <div class="row">
    <div class= "col-12 col-md-8 mt-2 mx-auto">
      <div id="map" class="mx-auto"></div>
    </div>

    <script>
      //online_drivers 的 locations & infos
      const locations = [
      {% for driver in online_drivers %}
        {% for userCaseShip in driver.user_cases.all %}  
          {
            "lat":{{driver.current_lat}},
            "lng":{{driver.current_lng}},
            "car_team":[
              {% for car_team_ship in driver.user_car_teams.all %}
                "{{ car_team_ship.carTeam.name }}"
                {% if not forloop.last %},{% endif %}  
              {% endfor %},
            ],
            "nick_name":"{{driver.nick_name}}",
            "phone":"{{driver.phone}}",
            "vehicalLicence":"{{driver.vehicalLicence}}"
          },
        {% endfor %}
      {% endfor %}
      ];

      console.log(locations);

      markerArray = [];
      
      function initMap() {
        //show map in city center
        const cityCenter = {lat: 22.62623801218485, lng: 120.30307386637843};
        const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: cityCenter,
          mapTypeControl: false,
          scaleControl: false,
          fullscreenControl: false,
        });

        const infowindow = new google.maps.InfoWindow();

        //markers
        var marker_URL_pending ="{% static 'backboard/assets/img/driverStatus/pending.png' %}";
        var marker_URL_onTheWay ="{% static 'backboard/assets/img/driverStatus/onTheWay.png' %}";
        var marker_URL_onTask ="{% static 'backboard/assets/img/driverStatus/onTask.png' %}";
        
        // ITERATE ALL LOCATIONS. Pass every location to placeMarker
        locations.forEach( (location, index) => {
          marker = new google.maps.Marker({
            position : new google.maps.LatLng( location.lat, location.lng ),
            map:map,
            opacity: 0.9,
            icon: marker_URL_onTheWay,
          });
          
          markerArray.push(marker);
        });
        
        markerArray.forEach((marker,index) => {
          google.maps.event.addListener(marker, 'click', function(){
            infowindow.close(); // Close previously opened infowindow
            infowindow.setContent(`<div style="padding="2px"">${locations[index].car_team}</br>名稱：${locations[index].nick_name}</br>車牌：${locations[index].vehicalLicence}</br>電話：${locations[index].phone}</div>`);
            infowindow.open({anchor:marker, map,});
          });
        });

      }

      setInterval(myTimer, 8000);
      function myTimer() {
        console.log("timer success");
        var lat = markerArray[0].getPosition().lat()-0.01;
        var lng = markerArray[0].getPosition().lng();

        var newLatLng = new google.maps.LatLng(lat, lng);
        markerArray[0].setPosition(newLatLng);

        $.ajax({
          //傳 LINE ID 回後台
          url: "{% url 'ajax_get_drivers' %}",
          data: id_data,
          type: "GET",

          success: function (response) {
            console.log("ajax success");
          },

          error: function () {
            console.log("error");
          },
        });

      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdP86OffSMXL82nbHA0l6K0W2xrdZ5xLk&callback=initMap"></script> 
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
  </div>
  

  {% comment %} online driver list {% endcomment %}
  <div class="row mx-auto mt-3">
    <div class="col-12 col-sm-10 col-md-8 col-lg-5 mx-auto">
      <div class="table-responsive scrollbar">
        <table class="table table-sm">
          <thead>
            <tr>
              <th colspan="3" scope="col" class="text-center"><h5>司機列表</h5></th>           
            </tr>
          </thead>
          <tbody class="align-middle" id='drivers-tbody'>
            
            {% for driver in on_task_drivers %}
              {% for userCaseShip in driver.user_cases.all %}
                <tr id="driver_on_task">
                  <td class="mx-0 px-0">
                    <div id="onlineOnTask" class="statusDot"></div>
                  </td>
                  <td class="driverStatus">
                    車隊：
                      {% for car_team_ship in driver.user_car_teams.all %}
                        {% if forloop.last %}
                          {{car_team_ship.carTeam.name}}
                        {% else %}
                          {{car_team_ship.carTeam.name}},
                        {% endif %}
                      {% endfor %}
                    </br> 
                    暱稱：{{userCaseShip.user.nick_name}}</br>
                    派單：{{userCaseShip.case.case_number}}</br>
                    上車：{{userCaseShip.case.on_address}}</br>
                    下車：{{userCaseShip.case.off_address}}
                  </td>
                  <td class="mx-0 px-0">
                    <button class="btn" type="button">
                      <span class="text-primary fas fa-phone-alt fs-1"></span>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            {% endfor %}

            {% for driver in on_the_way_drivers %}
              {% for userCaseShip in driver.user_cases.all %}
                <tr>
                  <td class="mx-0 px-0">
                    <div id="onlineOnTheWay" class="statusDot"></div>
                  </td>
                  <td class="driverStatus">
                    車隊：
                      {% for car_team_ship in driver.user_car_teams.all %}
                        {% if forloop.last %}
                          {{car_team_ship.carTeam.name}}
                        {% else %}
                          {{car_team_ship.carTeam.name}},
                        {% endif %}
                      {% endfor %}
                    </br> 
                    暱稱：{{userCaseShip.user.nick_name}}</br>
                    派單：{{userCaseShip.case.carTeam.name}}❤️{{userCaseShip.case.case_number}}❤️</br>
                    上車：{{userCaseShip.case.on_address}}</br>
                    下車：{{userCaseShip.case.off_address}}
                  </td>
                  <td class="mx-0 px-0">
                    <button class="btn" type="button">
                      <span class="text-primary fas fa-phone-alt fs-1"></span>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            {% endfor %}
            
            {% for driver in pending_drivers %}
                <tr>
                  <td class="mx-0 px-0">
                    <div id="onlineWaiting" class="statusDot"></div>
                  </td>
                  <td class="driverStatus">
                    車隊：</br> 
                    暱稱：{{userCaseShip.user.nick_name}}</br>
                  </td>
                  <td class="mx-0 px-0">
                    <button class="btn" type="button">
                      <span class="text-primary fas fa-phone-alt fs-1"></span>
                    </button>
                  </td>
                </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
{% endblock %}
