{% extends 'backboard/base.html' %} {% block content %}

        <div class="row flex-center min-vh-100 py-6">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
            <span class="fw-bolder fs-5 d-inline-block" style="color: #ffc701;"><i class="fa-solid fa-taxi"></i> 24H派車後台</span>
            
              
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="row flex-between-center mb-2"></div>
                <form >
                  <div class="mb-3">
                    <input
                      class="form-control"
                      type="email"
                      placeholder="帳號"
                    />
                  </div>
                  <div class="mb-3">
                    <input
                      class="form-control"
                      type="password"
                      placeholder="密碼"
                    />
                  </div>
                  <div class="row flex-between-center">
                    <div class="col-auto"></div>
                  </div>
                  <div class="mb-3">
                    <button
                      class="btn btn-primary d-block w-100 mt-3 text-light"
                      type="submit"
                      name="submit"
                      onclick="location.href='{% url 'home' %}'"
                      >登入</button>
                      
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
