/* -------------------------------------------------------------------------- */
/*                                chijia Button                               */
/* -------------------------------------------------------------------------- */
/* prettier-ignore */
/* # sourceMappingURL=user.css.map */



.statusBox{
  color: white;
  font-weight: 900;
  font-size: 30pt;
  border-radius: 10px;
  width: 90px;
}

#onlineTotalDrivers{
  background-color: #30d757;
}

#onlineWaiting{
  background-color: #ffd557;
}

#onlineOnTheWay{
  background-color: #ff56a2;
}

#onlineOnTask{
  background-color: #57e7ff;
}

.statusDot{
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.driverStatus{
  font-size: 10pt;
}

#map {
  height: 500px;
  width:100%;
}